*{
    margin: 0;
    padding: 0;
}

.container{
    height: 400px; width: 220px;
    position: relative;
    perspective: 100px;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.front {
    transform: rotateY(0deg);
    width: 200px;
    height: 400px;
    color: white;
    text-align: center;
    background:url(exodia.png) no-repeat ;
}

.back {
    transform: rotateY(180deg);
    background-color: blue;
    color: black;
    width: 200px;
    height: 400px;
    text-align: center;
    background: url(fundo.jfif) no-repeat;
}

.container:hover .front {
    transform: rotateY(-180deg);
}

.container:hover .back {
    transform: rotateY(0deg);
}